# Object files:
*.o

# Build files:
build/

# Course testworks:
homework/control-*/

# Student homeworks:
homework/contest-*/problem-*/*.c

# Generated test inputs/outputs:
homework/contest-*/problem-*/tests/*-gen.input
homework/contest-*/problem-*/tests/*-gen.output

# CTags printout:
.tags

# IDE trash:
.vscode/
.cache/
