# Object files:
*.o

# Build files:
build/
tests/*.output

# Student homeworks:
homework/contest-*/problem-*/*.c

# Special tests:
homework/contest-*/problem-*/tests/*.output
homework/contest-*/problem-*/tests/*-gen.input

# CTags printout:
.tags

# IDE trash:
.vscode/
.cache/
